@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0px 0px 0px 0px;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1366px;
  margin: 0px auto;
  padding: 0px 100px;
}

body {
  font-family: "Roboto";
  font-style: Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1b1a17;
  background-color: #fdfdfb;
}

@media (max-width: 1279.98px) {
  [class*=__container] {
    padding: 0px 50px;
  }
}
.header__logo {
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14em;
}

.header__container {
  padding-top: 35px;
  padding-bottom: 37px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__icon {
  margin-right: 3px;
}

.header__menu {
  display: flex;
  gap: 65px;
}

.menu__link {
  text-decoration: none;
  color: #1b1a17;
  font-size: 14px;
  line-height: 16px;
  transition: 0.2s;
}
.menu__link:hover {
  color: green;
  border-bottom: 1px solid #1b1a17;
}

.header__icons {
  display: flex;
  gap: 22px;
}

.user-panel svg {
  cursor: pointer;
}
.user-panel svg:hover .header-icons__item {
  fill: rgb(201, 199, 199);
}

.user-panel__item {
  fill: #1b1a17;
  transition: 0.2s ease-in;
}

@media (max-width: 1279.98px) {
  .header__menu {
    gap: 32.5px;
  }
  .header__icons {
    gap: 10px;
  }
}
.collection {
  background-image: url("../src/images/Ellipse.png");
  background-repeat: no-repeat;
  background-position: 48%;
}

.collection__container {
  display: flex;
  gap: 114px;
  padding-right: 114px;
  padding-left: 120px;
}

.collection__info {
  padding-top: 236px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
}

.collection__title {
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 16px;
}

.collection__subtitle {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 39px;
}

.collection__description {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
  max-width: 207px;
  margin-bottom: 20px;
}

.collection__button {
  background-color: #444240;
}
.collection__button:hover {
  background-color: #5e5c59;
}

.button {
  width: 205px;
  height: 64px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease;
}

.collection__card {
  max-width: 700px;
  display: flex;
  position: relative;
}
.collection__card img {
  flex-grow: 3;
  max-width: 502px;
  height: 804px;
}

.card__price,
.card__description {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  align-items: center;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  position: absolute;
}

.card__price {
  max-width: 140px;
  align-self: flex-start;
  padding-top: 138px;
  left: -50px;
}
.card__price svg {
  margin-left: 7px;
  margin-right: 15px;
}

.card__description {
  width: 187px;
  text-transform: lowercase;
  align-self: flex-end;
  padding-bottom: 116px;
  left: 400px;
  gap: 15px;
}

.card__line {
  display: block;
  width: 50px;
  height: 1px;
  background-color: #8b8371;
}

@media (max-width: 1279.98px) {
  .collection__container {
    gap: 0;
    justify-content: space-between;
  }
  .collection__title {
    font-size: 30px;
    line-height: 30px;
  }
  .collection__subtitle {
    font-size: 25px;
  }
  .collection__card img {
    flex-grow: 3;
    max-width: 401.6px;
    height: 643.2px;
  }
  .card__price,
  .card__description {
    font-size: 12px;
  }
  .card__description {
    left: 300px;
  }
}
.popular__container {
  padding-top: 79px;
  display: flex;
  flex-direction: column;
  padding-bottom: 86px;
}

.popular__title {
  max-width: 306px;
  margin: 0 auto;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1b1a17;
  margin-bottom: 5px;
}

.popular__button {
  background: transparent;
  width: 104px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 47px;
  display: flex;
  align-self: flex-end;
  transition: 0.2s ease;
  cursor: pointer;
}
.popular__button:hover {
  color: green;
}

.products {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 370px;
  display: flex;
  flex-direction: column;
}

.product__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.product__price {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  height: 12px;
  margin-bottom: 2px;
}
.product__price::after {
  content: "";
  width: 7px;
  height: 12px;
  background-size: 7px 10px;
  background-image: url("../src/icons/ruble.svg");
  background-repeat: no-repeat;
}

.product__image img {
  width: 313px;
  height: 313px;
}

.product__button {
  align-self: start;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  gap: 18px;
  transition: 0.2s ease;
  margin-bottom: 39px;
  cursor: pointer;
}
.product__button:hover {
  color: green;
}
.product__button::before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: rgb(139, 131, 113);
}